body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;} 
table {border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0} 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal} 
ol,ul {list-style:none} 
caption,th {text-align:left} 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal} 
q:before,q:after {content:''} 
abbr,acronym { border:0}
.box{
    width: 100%;
}
.box-header{
    margin: 10px;
    display: flex;
}
.put-in{
    flex: 1;
    text-align: right;
    margin-right: 20px;
}
.button{
    flex: 1;
}
.list-box{
    padding: 10px;
}
.list{
    display: flex;
    border-right: 1px solid #ccc;
}
.list-flex{
    flex: 1;
    border-left:1px solid #ccc;
    padding-left: 10px;
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-header{
    border-top: 1px solid #ccc;
}
.button-save{
    margin: 0 auto;
    display: block;
}
.list-add{
    display: flex;
    border-right: 1px solid #ccc;
}